<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Zphs Beerakuppam</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a> -->
        <a class="nav-link <%= path === '/' ? 'active' : '' %>" href="/">Home</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle <%= path === '/institute' ? 'active' : '' %> " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Class
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/6th-class">6th class</a>
            <a class="dropdown-item" href="/7th-class">7th class</a>
            <a class="dropdown-item" href="/8th-class">8th class</a>
            <a class="dropdown-item" href="/9th-class">9th class</a>
            <a class="dropdown-item" href="/10th-class">10th class</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle <%= path === '/institute' ? 'active' : '' %> " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Add Students
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/add-6th-class">6th class</a>
            <a class="dropdown-item" href="/add-7th-class">7th class</a>
            <a class="dropdown-item" href="/add-8th-class">8th class</a>
            <a class="dropdown-item" href="/add-9th-class">9th class</a>
            <a class="dropdown-item" href="/add-10th-class">10th class</a>
          </div>
        </li>
      </div>
    </div>
  </nav>